# Danbooru2019 Portraits download settings
DOWNLOAD_TARGET_DIR=data/raw/portraits
DANBOORU2019_PORTRAITS_RSYNC_URL=rsync://176.9.41.242:873/biggan/portraits/

# Line-art extraction settings
INPUT_DIR=data/raw/portraits
OUTPUT_DIR=data/processed/sketches
DETECT_RES=512
IMAGE_RES=512
MAX_PER_FOLDER=15
